.btn-open-popup {
  cursor: pointer;
}

.icon-infor-square {
  color: #2d81ff;
  width: 60px;
  height: 60px;
}

// .header {
//   margin-top: -2rem;
// }

.text-center {
  text-align: center;
}

.dialog-body {
  max-width: calc(100vw - 4rem);
  max-height: calc(100vh - 12rem);
  overflow-y: scroll;
}